.item-detail{
  display: flex;
  width: 100%;
  min-height: 90vh;
  padding: 100px 0;
}
.images-detail-container{
  display: flex;
  width: 50%;
}
.images-detail-container .secondary-images{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.images-detail-container .secondary-images img{
  width: 40%;
  margin: 10px 0;
  border-radius: 5px;
}
.images-detail-container .main-image{
  width: 60%;
}
.images-detail-container .main-image img{
  width: 90%;
  border-radius: 5px;
}

.text-detail-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.title-detail{
  padding: 10px 0;
  font-size: 3rem;
}
.text-detail{
  font-style: italic;
  padding: 10px 0;
  font-size: 1.3rem;
  color: rgb(218, 218, 218);
}
.button-end-buy{
  width: 200px;
  text-align: center;
  padding: 10px 0;
  background-color: rgb(42, 42, 42);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.button-end-buy:hover{
  border: 1px solid #2ECC71;
  color: #2ECC71;
  cursor: pointer;
}