.itemlistcontainer{
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.itemlistcontainer .itemlist{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.itemlistcontainer .item{
  width: 250px;
  margin: 3% 6%;
  padding: 1%;
  border-radius: 5px;
  border: 2px solid rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item .img-item{
  width: 100%;
  border-radius: 1%;
  background-color: rgb(39, 39, 39);
}
.item .text-item{
  padding: 1% 0;
}
.item .button-detail{
  width: 60%;
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: rgb(19, 19, 19);
  border-radius: 5px;
  border: 2px solid #176b3a;
}
.item .button-detail:hover{
  border: 2px solid #2ECC71;
}