.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgb(37, 37, 37);
}
.navbar .categories{
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.categories .category{
  list-style: none;
}

.brand{
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand .icon-brand{
  font-size: 40px;
}
.brand .title-brand{
  padding: 0 10px;
  font-weight: 600;
}

.cartwidget{
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartwidget .icon-cartwidget{
  font-size: 30px;
}
.cartwidget .number-cartwidget{
  padding: 0 10px;
}