.item-count{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.item-count .controls-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.controls-count button{
  width: 40px;
  height: 40px;
  background-color: rgb(42, 42, 42);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.controls-count button:hover{
  border: 1px solid #2ECC71;
  cursor: pointer;
}
.controls-count p{
  font-weight: bold;
}

.button-add-count{
  padding: 10px 0;
  background-color: rgb(42, 42, 42);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.button-add-count:hover{
  border: 1px solid #2ECC71;
  color: #2ECC71;
  cursor: pointer;
}